.badgeName {
  background: rgba(7, 136, 255, 0.2);
  border-radius: 4px;
  padding: 5px 12px;
  display: inline-block;
  color: #fff;
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  letter-spacing: 4px;
  text-transform: uppercase;
}

.textleft,
h1 {
  color: #fff;
  font-weight: 700;
  font-size: 35px;
  text-transform: uppercase;
}

.typewriter {
  width: 15em;
  white-space: nowrap;
  overflow: hidden;
  border-right: 4px solid #212121;
  animation: cursor 3s step-start infinite,
    text 3.5s steps(30) alternate infinite;
}

@keyframes cursor {
  0%,
  100% {
    border-color: white;
  }
}

@keyframes text {
  0% {
    width: 0;
  }
  100% {
    width: 14em;
  }
}

.paddingContainer {
  margin-top: 90px;
  margin-bottom: 70px;
}

.animationBlue {
    color: #0788FF;
    font-weight: 700;
    font-size: 40px;
    text-transform: uppercase;
    margin: 0 0 30px;
}

.socialPort{
    width: 46px;
    height: 46px;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    color: #fff;
    border: 2px solid #fff;
    margin-right: 8px;
    position: relative;
    transition: ease top .35s;
    top: 0;
    background: #1877F2;
}