<!-- <p>app-home works!</p> -->
<div class="container paddingContainer">
    <div class="row align-items-center">
        <div class="col-7">
            <div class="textLeft">
                <h6>
                    <span class="badgeName">
                        Mathias Chirivi
                    </span>
                </h6>
                <h1 class="">CIAO! MI CHIAMO MATHIAS</h1>
                <div class="d-flex align-items-center gap-2">
                    <h2 class="animationBlue">I'M A</h2>
                    <h2 class="typewriter animationBlue">FULL STACK DEVELOPER</h2>
                </div>
                <p class="w-75 text-white">Lorem ipsum, dolor sit amet consectetur adipisicing elit. Quos pariatur quae magnam nemo, sapiente numquam repudiandae facilis, accusantium voluptatem repellendus ipsum ratione incidunt ea dignissimos vitae id sequi adipisci eos.</p>

                <a href="" class="socialPort">
                    <i class="fa-brands fa-linkedin colorLinkedin"></i>
                </a>

                <a href="" class="socialPort">
                    <i class="fa-brands fa-linkedin colorLinkedin"></i>
                </a>

                <a href="" class="socialPort">
                    <i class="fa-brands fa-linkedin colorLinkedin"></i>
                </a>
            </div>
        </div>
        <div class="col-5">Cioa</div>
    </div>
    
</div>


